{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin pr-3 pl-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <div class="row">
    <div class="col-6 col-offset-3 mx-auto">
      <h2 class="text-center mb-3">About Issue Tracker</h2>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                col-sm-12 mx-auto">

      <div class="form-box py-3">
        <div class="col-10 mx-auto">
          
          <div class="row justify-content-center mt-5 mb-3 d-flex">
            <div class="logo-box text-center">
              <a href="https://www.djangoproject.com/">
                <img class="-resize" src="{% static 'images/django.png' %}" 
                    alt="">
              </a>
            </div>
            <div class="logo-box text-center">
              <a href="https://github.com/">
                <img class="-resize" src="{% static 'images/github.jpg' %}" 
                    alt="">
              </a>
            </div>
            <div class="logo-box text-center">
              <a href="https://ubuntu.com/">
                <img class="-resize" src="{% static 'images/ubuntu.png' %}" 
                    alt="">
              </a>
            </div>
          </div>
          <div class="row mb-2 border-bottom"></div>
            <div class="row">
              <a class="pb-3">
                Issue Tracker is a Python web application running on Ubuntu. It uses the Django web framework to 
                clone basic bug tracker features
                from GitHub and adds the ability to flag issues against folders, files, and individual lines of code.
              </a>
              <a>
                The site is integrated with GitHub's public API. It utilizes the Python client, 
              </a>
              <a href="https://github.com/PyGithub/PyGithub">PyGitHub</a>
              <a>
                , and a custom client script to create, update, open, and close GitHub issues.
                It can also import a GitHub repository folder/file system.
              </a>
            </div>
          <div class="row mt-3 mb-2 border-bottom"></div>

          <div class="row justify-content-center mt-5 mb-3 d-flex">
            <a class="text-center" href="https://www.django-rest-framework.org/">
              <img class="DRF-resize" src="{% static 'images/drf.png' %}" 
                  alt="">
            </a>
          </div>
          <div class="row mb-2 border-bottom"></div>
            <div class="row">
              <a>
                Issue Tracker uses the Django REST framework to consume API data from GitHub. It can import a GitHub 
                repository folder/file structure as well 
              </a>
            </div>
          <div class="row mt-3 mb-2 border-bottom"></div>

          <div class="row justify-content-center mt-5 mb-3 d-flex">
            <a class="text-center" href="https://aws.amazon.com/what-is-cloud-computing">
              <img class="aws-resize" src="https://d0.awsstatic.com/logos/powered-by-aws.png" 
                  alt="Powered by AWS Cloud Computing">
            </a>
          </div>
          <div class="row mb-2 border-bottom"></div>
            <div class="row">
              <a>Issue Tracker runs on an AWS EC2 instance. It stores its data in a Postgres database housed in an RDS instance.</a>
            </div>
          <div class="row mt-3 mb-2 border-bottom"></div>


          <div class="row mt-4 mb-5"></div>

        </div>
      </div>

    </div>
  </div>

<div class="row mb-4"></div>
</div>
{% endblock content %}