{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin pr-3 pl-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 
                col-sm-12 mx-auto">
      <h2 class="text-center mb-3">About Issue Tracker</h2>
    </div>
  </div>

  <!-- White raised background for images and text -->
  <div class="row my-3">
    <div class="col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                col-sm-12 mx-auto">

      <div class="form-box py-3">
        <div class="col-10 mx-auto">
          
          <!-- Put our three images as a header at the top -->
          <div class="row justify-content-center mt-5 mb-3 d-flex">
            <div class="logo-box text-center">
              <a href="https://www.djangoproject.com/">
                <img class="-resize" src="{% static 'images/django.png' %}" 
                    alt="">
              </a>
            </div>
            <div class="logo-box text-center">
              <a href="https://github.com/">
                <img class="-resize" src="{% static 'images/github.jpg' %}" 
                    alt="">
              </a>
            </div>
            <div class="logo-box text-center">
              <a href="https://ubuntu.com/">
                <img class="-resize" src="{% static 'images/ubuntu.png' %}" 
                    alt="">
              </a>
            </div>
          </div>
          <!-- Use a border to seperate images from text and begin text -->
          <div class="row mb-2 border-bottom"></div>
            <div class="row">
              <p>
                <a>
                  Issue Tracker is a Python web application running on Ubuntu. It uses the Django web framework to 
                  clone basic bug tracking features from GitHub and adds the ability to flag issues against 
                  folders, files, and individual lines of code.
                </a><br><br>
                <a>
                  The site is integrated with GitHub's public API. It utilizes the Python client, PyGitHub, 
                  and a custom client script to create, update, open, and close GitHub issues.
                </a><br><br>
                <!-- Provide a link to the project's readme on GitHub -->
                <a>More details about the site can be found in the project</a>
                <a href="https://github.com/RHAM231/GitHub-Issue-Backend#readme">README</a>
                <a>on GitHub.</a>
              </p>
            </div>
          <div class="row mt-3 mb-2 border-bottom"></div>
          
          <!-- Start the Django REST section with the Django REST logo -->
          <div class="row justify-content-center mt-5 mb-3 d-flex">
            <a class="text-center" href="https://www.django-rest-framework.org/">
              <img class="DRF-resize" src="{% static 'images/drf.png' %}" 
                  alt="">
            </a>
          </div>
          <!-- Begin text -->
          <div class="row mb-2 border-bottom"></div>
            <div class="row">
              <p>
                <a>
                  Issue Tracker uses Django REST serializers to consume API data from GitHub. It can import a GitHub 
                  repository folder/file structure with all the repo's issues, including additional issue data added
                  by Issue Tracker.
                </a><br><br>
                <a>
                  When adding additional issue data not tracked by GitHub, Issue Tracker "stamps" the Issue body 
                  with the data. Whenever Issue Tracker serializes a GitHub issue, it reads the stamp back into 
                  the appropriate foreign key relationships.
                </a><br><br>
                <a>
                  Issue Tracker comes with a REST API that displays its database in JSON format. View it  
                </a>
                <a href="{% url 'api-home' %}">here</a>.<br><br>
              </p>
            </div>
          <div class="row mt-3 mb-2 border-bottom"></div>
          
          <!-- Start the AWS section with their logo -->
          <div class="row justify-content-center mt-5 mb-3 d-flex">
            <a class="text-center" href="https://aws.amazon.com/what-is-cloud-computing">
              <img class="aws-resize" src="https://d0.awsstatic.com/logos/powered-by-aws.png" 
                  alt="Powered by AWS Cloud Computing">
            </a>
          </div>
          <!-- Begin text -->
          <div class="row mb-2 border-bottom"></div>
            <div class="row">
              <p>
                <a>
                  Issue Tracker runs on an AWS EC2 instance, using Apache to serve site files. It stores its data in a 
                  Postgres database housed on an AWS RDS instance. More details about the deployment process can be found
                </a>
                <!-- Include a link to the README deployment section -->
                <a href="https://github.com/RHAM231/GitHub-Issue-Backend#readme">here</a>.
              </p>
            </div>
          <div class="row mt-3 mb-2 border-bottom"></div>


          <div class="row mt-4 mb-5"></div>

        </div>
      </div>

    </div>
  </div>

<div class="row mb-4"></div>
</div>
{% endblock content %}