{% extends "base/base.html" %}
{% block content %}

<div class="container-no-margin pr-3 pl-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <div class="col-lg-8 col-lg-offset-2
              col-md-10 col-md-offset-1
              col-sm-12 mx-auto">

    <div class="content-section">

      <div class="row ml-3 mt-2 mb-3 d-flex">
        <div class="user-box">
          <img class="user-image" src="{{ profile.image.url }}">
        </div>
        <div class="pl-2">
          <b><a class="user-title" href="">{{ profile.name }}</a></b>
        </div>
      </div>

      <div class="ml-3 border-top pt-3">
        <a>You are currently viewing this site as a guest.</a>
      </div>
      <div class="ml-3">
        <a>You can read, update, close, and open issues and view repository structures.</a>
      </div>
      <div class="ml-3 border-bottom py-3">
        <a>Check out the site's issue features </a><a href="{% url 'issue-list' %}">here</a>.
      </div>
      <div class="ml-3 pt-3 pb-3">
        <a href="{% url 'home' %}">Home</a>
      </div>

    </div>

  </div>

</div>

</div>
  <div class="row my-5"></div>
</div>
{% endblock content %}