{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin pr-3 pl-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <!-- Begin sync form -->
  <form method="POST" id="github-import-form">
    {% csrf_token %}
    <div class="row mt-4 mb-5">
      <div class="col-lg-6 col-lg-offset-3 
                  col-md-8 col-md-offset-2 
                  col-sm-10 col-sm-offset-1 
                  mx-auto">

        <div class="form-box py-3">
          <div class="col-lg-10 mx-auto">
            
            <div class="row justify-content-center mt-2 mb-4 d-flex">
              <div class="sync-icon">
                <i class="fas fa-sync-alt"></i>
              </div>
            </div>
            
            <!-- Include brief message explaining the form -->
            <div class="row justify-content-center my-3">
              <a class="text-center"><b>Import GitHub repository?</b></a>
            </div>
            <div class="row justify-content-center my-3">
              <a class="text-center">Issue Tracker will make an API call to the GitHub repository, Sandbox-Import.</a>
            </div>
            <div class="row justify-content-center my-3">
              <a class="text-center">This will pull Sandbox-Import with all its issues into the site.</a>
            </div>
            <div class="row justify-content-center my-3">
              <p class="text-center">
                <a><b>Importing takes a few moments. In a hurry? Check out the existing repo </b></a>
                <b><a href="">here</a>.</b>
              </p>
            </div>

            <!-- Confirm import button -->
            <div id="sync-btn" class="row my-3 d-flex justify-content-center">
              <button class="button-sync text-center" type="submit">Confirm Import</button>
            </div>

            <!-- Progress spinner, initially hidden until submission -->
            <div id="spinner-box" class="row mb-3 d-flex justify-content-center not-visible">
              <div class="spinner-border text-primary" role="status"></div>
            </div>

            <!-- Progress loading message, initially hidden until submission -->
            <div id="load-msg" class="row d-flex justify-content-center not-visible">
              <p class="text-center">
                <b><a>Importing repository from GitHub ...</a></b><br>
                <a>Please wait</a>
              </p>
            </div>
        
          </div>
        </div>

      </div>
    </div>


  </form>

</div>


<div class="row mb-4"></div>
</div>
{% endblock content %}