{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin pr-3 pl-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

    <div class="row mt-4 mb-5">
      <div class="col-lg-6 col-lg-offset-3 
                  col-md-8 col-md-offset-2 
                  col-sm-10 col-sm-offset-1 
                  mx-auto">

        <div class="form-box px-3 py-3">
          <div class="col-lg-10 mx-auto">
            
            <div class="row justify-content-center mt-2 mb-4 d-flex">
              <div class="sync-icon">
                <i class="fas fa-frown"></i>
              </div>
            </div>
            
            <div class="row justify-content-center my-2">
              <b><a>Oops, sorry about that</a></b>
            </div>
            <div class="row justify-content-center my-2">
              <a class="text-center">Something went wrong with importing. Why not check out the existing repository?</a>
            </div>
            
            <form action="{% url 'project-list' %}">
                <div class="row d-flex justify-content-center py-3">
                <input type="submit" value="View Repositories" class="button-sync">
                </div>
            </form>
        
          </div>
        </div>

      </div>
    </div>

</div>

<div class="row mb-4"></div>
</div>
{% endblock content %}