{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin pr-3 pl-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <!-- Header with link -->
  <div class="row mt-1 mb-4">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 mx-auto">
      <a href="{% url 'project-list' %}" class="current-path">Repositories</a>
    </div>
  </div>

  <!-- 
    Given a dictionary of context objects with both folders and files, display all the items,
    using the dictionary key to check object type.
   -->
  {% for key, queryset in folders_and_files.items %}
    {% for instance in queryset %}
      <div class="row mb-3">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 mx-auto">
          <div class="folder-file-box">
            <div class="row justify-content-end">
              <div class="mr-auto pl-custom">
                <div class="icon-tab-folder-file">
                  <!-- Change the icon depending on object type -->
                  {% if key == 'folders' %}
                    <i class="fas fa-folder"></i>
                  {% elif key == 'files' %}
                    <i class="fas fa-file"></i>
                  {% endif %}
                </div>
                <div class="folder-file-header">
                  <!-- Change the url pattern based on object type -->
                  {% if key == 'folders' %}
                    {% if instance.path == '' %}
                      <a class="custom-header" href="{% url 'root-contents' instance.slug %}">
                    {% else %}
                      <a class="custom-header" href="{% url 'folder-contents' folder_path=instance.issuetracker_url_path folder_slug=instance.slug %}">
                    {% endif %}
                  {% elif key == 'files' %}
                    <a class="custom-header" href="{% url 'file-contents' file_path=instance.issuetracker_url_path file_slug=instance.slug %}">
                  {% endif %}
                  <!-- Folder or File name -->
                    {{ instance.name }}
                    </a>
                </div>
              </div>
              <!-- Date created -->
              <div class="mr-auto ml-auto">
                <div class="folder-file-date">
                  <a class="text-secondary dynamic-hide">Created {{ instance.created_at }}</a>
                </div>
              </div>
              <!-- Display Issue button with issue count, if issues are present -->
              <div class="folder-file-button">
                <a href="{% url 'issue-list' %}" class="issue-button">Issues</a>
                <!-- Resize the number text for numbers greater than 99 -->
                {% if instance.issue_count > 99 %}
                  <div class="issues-count text-center count-small"><a>{{ instance.issue_count }}</a></div>
                {% elif instance.issue_count is 0 %}
                {% else %}
                  <div class="issues-count text-center"><a>{{ instance.issue_count }}</a></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}

</div>

<div class="row mb-4"></div>
</div>
{% endblock content %}