{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin pr-3 pl-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <div class="row mt-1 mb-4">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 mx-auto">
      <a href="" class="current-path">Home</a><a class="link-divider">&nbsp/&nbsp</a>
      <a href="" class="current-path">Projects</a><a class="link-divider">&nbsp/&nbsp</a>
      <a href="" class="current-path">Project 1</a><a class="link-divider">&nbsp/&nbsp</a>
      <a class="current-path">Folder</a><a class="link-divider">&nbsp/&nbsp</a>
    </div>
  </div>

  <div class="row mt-1 mb-4">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 mx-auto">
      
      {% for key, value in current_path.items %}
        {% if forloop.last %}
          <a class="current-path">{{ key }}</a><a class="link-divider">&nbsp/&nbsp</a>
        {% elif forloop.first %}
          <a href="{% url value %}" class="current-path">{{ key }}</a><a class="link-divider">&nbsp/&nbsp</a>
        {% else %}
          <a href="{% url value.0 value.1 %}" class="current-path">{{ key }}</a><a class="link-divider">&nbsp/&nbsp</a>
        {% endif %}
      {% endfor %}

    </div>
  </div>

  {% for key, queryset in folders_and_files.items %}
    {% for instance in queryset %}
      <div class="row mb-3">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 mx-auto">
          <div class="folder-file-box">
            <div class="row justify-content-end">
              <div class="mr-auto pl-custom">
                <div class="icon-tab-folder-file">
                  {% if key == 'folders' %}
                    <i class="fas fa-folder"></i>
                  {% elif key == 'files' %}
                    <i class="fas fa-file"></i>
                  {% endif %}
                </div>
                <div class="folder-file-header">
                  {% if key == 'folders' %}
                    {% if instance.path == '' %}
                      <a class="custom-header" href="{% url 'root-contents' instance.slug %}">
                    {% else %}
                      <a class="custom-header" href="{% url 'folder-contents' folder_path=instance.issuetracker_url_path folder_slug=instance.slug %}">
                    {% endif %}
                  {% elif key == 'files' %}
                    <a class="custom-header" href="{% url 'file-contents' file_path=instance.issuetracker_url_path file_slug=instance.slug %}">
                  {% endif %}
                    {{ instance.name }}
                    </a>
                </div>
              </div>
              <div class="mr-auto ml-auto">
                <div class="folder-file-date">
                  <a class="text-secondary dynamic-hide">Last Updated Not in Model</a>
                </div>
              </div>
              <div class="folder-file-button">
                <a href="" class="issue-button">Issues</a>
                <!-- Resize the number text for numbers greater than 99 -->
                {% if instance.issue_count > 99 %}
                  <div class="issues-count text-center count-small"><a>{{ instance.issue_count }}</a></div>
                {% elif instance.issue_count is 0 %}
                {% else %}
                  <div class="issues-count text-center"><a>{{ instance.issue_count }}</a></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}

</div>

<div class="row mb-4"></div>
</div>
{% endblock content %}