{% extends "base/base.html" %}
{% load static %}

{% block content %}

<body class="issueForm">
  <div class="container-no-margin pr-3 pl-3">
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>

    <!-- Begin issue update/create form -->
    <form 
      method="POST" 
      id="issueForm" 
      data-options-url="{% url 'ajax_load_options' %}"
      novalidate>
      {% csrf_token %}

      <!-- Start our raised form background -->
      <div class="row mt-4 mb-5">
        <div class="col-lg-8 col-lg-offset-2 
                  col-md-10 col-md-offset-1 
                  col-sm-12
                  mx-auto">

          <div class="form-box py-3">
            <div class="col-10 mx-auto">
              
              <!-- User image and profile name -->
              <div class="row mt-2 mb-4 d-flex">
                <div class="user-box">
                  <img class="user-image" src="{{ profile.image.url }}">
                </div>
                <div class="pl-2">
                  <b><a class="user-title" href="{% url 'profile' %}">{{ profile.name }}</a></b>
                </div>
              </div>
              
              <!-- Title field with label, we display fields individually to customize display easily -->
              <div class="issue-title-label row my-1">
                <a>{{ form.title.label }}</a>
              </div>
              <div class="row mb-3">
                  {{ form.title }}
                  {{ form.title.errors }}
              </div>

              <!-- Repo field and label -->
              <div class="row my-1">
                <a>{{ form.repository.label }}</a>
              </div>
              <div class="row mb-3">
                  {{ form.repository }}
                  {{ form.title.errors }}
              </div>

              <!-- Association field labels -->
              <div class="row my-2 d-flex">
                {% for field in form %}
                  {% if 'associated_' in field.name %}
                    <a class="associate-tag">{{ field.label }}</a>
                  {% endif %}
                {% endfor %}
              </div>

              <!-- Association fields -->
              <div class="row my-2 d-flex">
                {% for field in form %}
                  {% if 'associated_' in field.name %}
                    <a class="associate-tag">{{ field }}</a>
                  {% endif %}
                {% endfor %}
              </div>

              <!-- Body field and label -->
              <div class="row mt-3">
                {{ form.body.label }}
              </div>
              <div class="row">
                  {{ form.body }}
              </div>
              
              <!-- If we're using the form to create an issue, display a submit button -->
              {% if create %}
                <div class="row d-flex justify-content-center py-3">
                  <input type="submit" value="Submit New Issue" class="form-button">
                </div>
              {% endif %}
              
              <!-- If we're using the form to edit an issue, display an update and cancel button -->
              {% if update %}
                <div class="row d-flex justify-content-center py-3">
                  <a class="mx-2 form-button-cancel" href="{% url 'issue-read' object.slug %}">Cancel</a>
                  <input type="submit" value="Update Issue" class="mx-2 form-button">
                </div>
              {% endif %}
          
            </div>
          </div>

        </div>
      </div>


    </form>

  </div>


  <div class="row mb-4"></div>
  </div>
</body>
{% endblock content %}