{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin pr-3 pl-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <div class="row issue-header mb-3">
    <div class="col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                col-sm-12 mx-auto">
      <a class="current-path" href="{% url 'issue-list' %}">Issues</a>
    </div>
  </div>

  <div class="row issue-header">
    <div class="col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                col-sm-12 mx-auto">
      <h2>{{ issue.title }}</h2>
    </div>
  </div>
  <div class="row issue-subheader">
    <div class="col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                col-sm-12 mx-auto d-flex
                ">
      
      <div class="row p-custom">
        {% if issue.state == 'open' %}
        <div class="issue-open mr-2">
          <i class="fas fa-bug"></i>
          <a>Open</a>
        </div>
        {% else %}
        <div class="issue-closed mr-2">
          <i class="far fa-check-circle"></i>
          <a>Closed</a>
        </div>
        {% endif %}
        <b><a>{{ issue.author.name }} &nbsp</a></b>
        <a>opened this issue &nbsp</a>
        <a>{{ issue.created_at }}</a>
      </div>
    </div>
  </div>

  <div class="row mt-4 mb-5">
    <div class="col-lg-8 col-lg-offset-2
              col-md-10 col-md-offset-1
              col-sm-12 mx-auto">

      <div class="form-box py-3">
        <div class="col-10 mx-auto">
          
          <div class="row mt-2 mb-3 d-flex">
            <div class="user-box">
              <img class="user-image" src="{{ issue.author.image.url }}">
            </div>
            <div class="pl-2">
              <b><a class="user-title" href="{% url 'profile' %}">{{ issue.author.name }}</a></b>
              <a>| Owner</a>
            </div>

            <div class="ml-auto">
              <a href="{% url 'issue-update' issue_slug=issue.slug %}" class="edit-issue-button">Edit</a>
            </div>
          </div>

          <div class="row mb-2 border-bottom"></div>

          <div class="row my-2">
            <a>Repo: &nbsp</a>
            <b><a>{{ issue.repository }}</a></b>
          </div>

          <div class="row my-2">
            <a>Folder: &nbsp</a>
            <b><a>{{ issue.associated_folder }} &nbsp</a></b>
            <a>File: &nbsp</a>
            <b><a>{{ issue.associated_file }} &nbsp</a></b>
            <a>Line: &nbsp</a>
            <b><a>{{ issue.associated_loc }}</a></b>
          </div>

          <div class="row my-2">
            <a>Path: &nbsp</a>
            <b><a class="path-wrap">{{ issue_path }}</a></b>
          </div>
          
          <div class="row mt-1">
            <a>Body:</a>
          </div>

          <div class="row mb-2 border-bottom"></div>
          
          <div class="row mt-3">
              {{ issue.body }}
          </div>
          
          <div class="row mt-3 mb-2 border-bottom"></div>

          <div class="row d-flex flex-row-reverse py-3">
            <div class="col-lg-3 col-md-3 col-sm-12 text-right">
            <form method="POST">
              {% csrf_token %}
              {{ form }}
              {% if issue.state == 'open' %}
                <input type="submit" value="Close Issue" class="my-2 close-button">
              {% else %}
                <input type="submit" value="Open Issue" class="my-2 close-button">
              {% endif %}
            </form>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12 text-right">
            <form action="https://github.com/RHAM231-IssueTracker/{{ issue.repository.name }}/issues/{{ issue.number }}">
              <input type="submit" value="View on GitHub" class="my-2 form-button-success">
            </form>
            </div>
          </div>
      
        </div>
      </div>

    </div>
  </div>

</div>

<div class="row mb-4"></div>
</div>
{% endblock content %}