{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-no-margin pr-3 pl-3">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5 mb-5"></div>

  <div class="row issue-header mb-3">
    <div class="col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                col-sm-12 mx-auto">
      <a class="current-path" href="{% url 'issue-list' %}">Issues</a>
    </div>
  </div>

  <div class="row issue-header">
    <div class="col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                col-sm-12 mx-auto">
      <h2>{{ issue.title }}</h2>
    </div>
  </div>
  <div class="row issue-subheader">
    <div class="col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                col-sm-12 mx-auto d-flex">
      {% if issue.state == 'open' %}
      <div class="issue-open mr-2">
        <i class="fas fa-bug"></i>
        <a>Open</a>
      </div>
      {% else %}
      <div class="issue-closed mr-2">
        <i class="far fa-check-circle"></i>
        <a>Closed</a>
      </div>
      {% endif %}
      <b><a>{{ issue.author.name }}</a></b>
      <a>&nbsp opened this issue {{ issue.created_at }}</a>
    </div>
  </div>

    <div class="row mt-4 mb-5">
      <div class="col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                col-sm-12 mx-auto">

        <div class="form-box py-3">
          <div class="col-10 mx-auto">
            
            <div class="row mt-2 mb-3 d-flex">
              <div class="user-box">
                <img class="user-image" src="{{ issue.author.image.url }}">
                <!-- <img class="user-image" src="{{ Profile.2.image.url }}">
                <img class="user-image" src="{% static 'images/user.jpg' %}"> -->
              </div>
              <div class="pl-2">
                <b><a class="user-title" href="">{{ issue.author.name }}</a></b>
                <a>| Owner</a>
              </div>
              <div class="ml-auto">
                <a href="{% url 'issue-update' issue_slug=issue.slug %}" class="edit-issue-button">Edit</a>
              </div>
            </div>

            <div class="row mb-2 border-bottom"></div>

            <div class="row my-2">
              <a>Repo: &nbsp</a>
              <b><a>{{ issue.repository }}</a></b>
            </div>
            <div class="row my-2">
              <a>Folder: &nbsp</a>
              <b><a>{{ issue.associated_folder }}</a></b>
              <a>&nbsp File: &nbsp</a>
              <b><a>{{ issue.associated_file }}</a></b>
              <a>&nbsp Line: &nbsp</a>
              <b><a>{{ issue.associated_loc }}</a></b>
            </div>
            <div class="row my-2">
              <a>Path: &nbsp</a>
              <b><a>{{ issue_path }}</a></b>
            </div>

            <div class="row mb-2 border-bottom"></div>

            <div class="row mt-3">
              {{ form.comment.label }}
            </div>
            <div class="row">
                {{ issue.body }}
            </div>
            
            <div class="row mt-3 mb-2 border-bottom"></div>

            <div class="row d-flex flex-row-reverse py-3">
              <!-- <a href="" class="ml-2 delete-button">Delete Issue</a> -->
              <!-- <input type="submit" value="Delete Issue" class="ml-2 delete-button"> -->
              <form method="POST">
                {% csrf_token %}
                {{ form }}
                {% if issue.state == 'open' %}
                  <input type="submit" value="Close Issue" class="close-button">
                {% else %}
                  <input type="submit" value="Open Issue" class="close-button">
                {% endif %}
              </form>
            </div>
        
          </div>
        </div>

      </div>
    </div>

</div>


<div class="row mb-4"></div>
</div>
{% endblock content %}